



<div id="wrapper" class="container-fluid">
    <h1>Lent Items</h1>
    <h3>Today: @DateTime.Now.ToString("MM/dd/yyyy")</h3>
    <table class="table table-hover">
        <thead>
            <tr>

                <th scope="col">Item</th>
                <th scope="col">Category</th>
                <th scope="col">LendDate</th>
                <th scope="col">Contact Name</th>
                <th scope="col">Contact</th>
            </tr>
        </thead>
        <tbody>
            @{
                for(int i = 0; i < ViewBag.items.Count; i++)
                {
            <tr>
                <td>@ViewBag.items[i].Name</td>
                <td>@ViewBag.items[i].Category</td>
                <td>@ViewBag.items[i].LendDate.ToString("MM/dd/yyyy")</td>
                <td>@ViewBag.items[i].Contact.Name</td>
                <td>@ViewBag.items[i].Contact.Email</td>
            </tr>  
                        }
                    }

            @*<tr>
            <td>1</td>
            <td>The Hobbit</td>
            <td>Books</td>
            <td>12/22/19</td>
            <td>example@email.net</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Power Drill</td>
            <td>Tools</td>
            <td>12/22/19</td>
            <td>example@email.net</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Volkswagen</td>
            <td>Car</td>
            <td>12/22/19</td>
            <td>example@email.net</td>
        </tr>*@
        </tbody>
    </table>

</div>