
@model GiveItBack.ViewModels.Home.ShowItemsViewModel


<div id="wrapper" class="container-fluid">
    <h1>Lent Items</h1>
    <h3>Today: @DateTime.Now.ToString("MM/dd/yyyy")</h3>
    <table class="table table-hover">
        <thead>
            <tr>

                <th scope="col">Item</th>
                <th scope="col">Category</th>
                <th scope="col">LendDate</th>
                <th scope="col">Contact Name</th>
                <th scope="col">Contact</th>
            </tr>
        </thead>
        <tbody>
            @{
                var itr = Model.ItemsList.GetEnumerator();
                while(itr.MoveNext())
                {
            <tr>
                <td>@itr.Current.Name</td>
                <td>@itr.Current.Category</td>
                <td>@itr.Current.LendDate.ToString("MM/dd/yyyy")</td>
                <td>@itr.Current.Contact.Name</td>
                <td>@itr.Current.Contact.Email</td>
            </tr>
                 }
             }
        </tbody>
    </table>

</div>